In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pyecharts import Pie,Bar,Map
from pyecharts import Funnel
from pyecharts import Radar
from pyecharts import Line
from collections import Counter

In [2]:
#导入数据
df_lagou=pd.read_csv('lagou_job.csv')

In [3]:
#预览数据
df_lagou.head()
#技能要求项，是列表，而且存在空列表

,职位名称,公司名称,公司规模,行业,融资,技能要求,地区,薪资,工作经验,学历,福利
0,数据分析师,青木数字技术股份有限公司,500-2000人,电商,未融资,"['BI', '可视化', '数据分析', '数据库']",海珠区,7k-14k,不限,本科,晋升机会 导师带教 品牌机会 周末双休
1,PTBU-数据分析师,广州酷狗计算机科技有限公司,500-2000人,文娱丨内容,上市公司,['数据分析'],天河区,15k-25k,不限,本科,餐饮补贴 大平台 五险一金 年终奖
2,数据分析实习生,广州汇量信息科技有限公司,500-2000人,广告营销,上市公司,[],天河区,2k-3k,应届毕业生,不限,环境好大牛带包四餐弹性工作
3,高级数据分析师,广州富米科技有限公司,500-2000人,"移动互联网,电商",B轮,"['市场', '行业分析', '数据分析', '消费者分析']",荔湾区,18k-25k,3-5年,本科,1000+规模 发展空间大 月流水过亿
4,资深数据分析师（增长方向）,上海触乐信息科技有限公司,500-2000人,"移动互联网,数据服务",上市公司,"['Hive', 'SQLServer', '数据分析']",海珠区,20k-35k,3-5年,本科,美股上市公司，团队牛人多

In [6]:
#查看数据结构
df_lagou.shape

(184, 11)

In [7]:
#查看数据类型以及空间
df_lagou.info()
#没有空值， 数据类型都是字符

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 11 columns):
职位名称    184 non-null object
公司名称    184 non-null object
公司规模    184 non-null object
行业      184 non-null object
融资      184 non-null object
技能要求    184 non-null object
地区      184 non-null object
薪资      184 non-null object
工作经验    184 non-null object
学历      184 non-null object
福利      184 non-null object
dtypes: object(11)
memory usage: 15.9+ KB

In [67]:
#绘制地区柱形分布图
area=Counter(df_lagou['地区'])
area_name=list(area.keys())
area_num=list(area.values())
bar_area=Bar('广州数据分析岗位分布',title_pos='40%')
bar_area.add('',area_name,area_num,yaxis_name='公司数量',yaxis_name_gap='40',xaxis_rotate=30,is_label_show=True)
bar_area.render()

In [13]:
df_lagou['行业'].count()

184

In [12]:
df_lagou['地区'].count()

184

In [23]:
#绘制广州地区地图
area=Counter(df_lagou['地区'])
area_name=list(area.keys())
area_num=list(area.values())
map = Map("广州数据分析岗位地区分布",title_pos='40%')
map.add('',area_name,area_num,maptype='广州市',is_visualmap=True,visual_text_color='#000'
)
map.render()

In [59]:
#融资直方图
fin=Counter(df_lagou['融资'])
fin_name=list(fin.keys())
fin_num=list(fin.values())
bar_size=Bar('融资情况-柱形图',title_pos='40%')
bar_size.add('',fin_name,fin_num,yaxis_name='公司数量',yaxis_name_gap='40',xaxis_rotate=30,is_label_show=True)
bar_size.render()

In [62]:
#融资饼图
fin=Counter(df_lagou['融资'])
fin_name=list(fin.keys())
fin_num=list(fin.values())
pie_fin=Pie('融资情况-饼图',title_pos='55%')
pie_fin.add('',fin_name,fin_num,radius=[45,65],center=[62,50],legend_orient='vertical',is_label_show=True,legend_pos='85%')
pie_fin.render()

In [65]:
#规模六边形图
from pyecharts import Radar
size=Counter(df_lagou['公司规模'])
size_name=list(size.keys())
print(size_name)
size_num=list(size.values())
print(size_num)
job_size=[]
job_size.append(size_num)
schema =[('500-2000人',100),('2000人以上',100),('150-500人',100),('50-150人',100),('15-50人',100),('少于15人',100)]
radar=Radar()
radar.config(schema)
radar.add('公司规模',job_size,label_color=['#4e79a7'],is_area_show=True)
radar.render()

['500-2000人', '2000人以上', '150-500人', '50-150人', '15-50人', '少于15人']
[51, 41, 39, 18, 26, 9]

In [1]:
# import numpy as np
# from pyecharts import Map
# areas = ["荔湾区","越秀区"]
# values = np.random.randint(1,100,size = 2)
# test_map = Map("test", width=1200, height=600)
# test_map.add("", areas, values, maptype="广州", is_visualmap=True, 
#         visual_text_color='#000', is_label_show=True)
# test_map.render()

In [38]:
# import numpy as np
# from pyecharts import Map
# areas = ['广东','广西','湖南','江西','福建']
# values = np.random.randint(1,100,size = 5)
# test_map = Map("test", width=1200, height=600)
# test_map.add("", areas, values, maptype='china', is_visualmap=True, 
#         visual_text_color='#000', is_label_show=True)
# test_map.render()

In [34]:
#统计分布
#工作经验漏斗图
exp=Counter(df_lagou['工作经验'])
exp_name=list(exp.keys())
exp_num=list(exp.values())
funnel=Funnel("工作经验要求",title_pos = "center")
funnel.add('',exp_name,
           exp_num,
           is_label_show=True,
           label_pos='outside',
           legend_orient='vertical',
           legend_pos='left')

funnel.render()

In [42]:
#学历直方图
edu=Counter(df_lagou['学历'])
edu_name=list(edu.keys())
edu_num=list(edu.values())
edu_bar=Bar('学历要求',title_pos='40%')
edu_bar.add('',edu_name,edu_num,yaxis_name='公司数量',yaxis_name_gap='40',xaxis_rotate=30,is_label_show=True)
edu_bar.render()

In [48]:
#学历饼图
edu=Counter(df_lagou['学历'])
edu_name=list(edu.keys())
print(edu_name)
edu_num=list(edu.values())
edu_Pie=Pie('学历要求',title_pos='50%')
edu_Pie.add('',edu_name,edu_num,legend_orient='vertical',is_label_show=True,legend_pos='85%')
edu_Pie.render()

['本科', '不限', '硕士', '大专']

In [73]:
#薪资柱形图
import seaborn as sns
# salary=Counter(df_lagou['薪资'])
salary={'5k以下':0,'5k-15k':0,'15k-25k':0,'25k-35k':0,'35k以上':0}
list(df_lagou['薪资'])
for item in df_lagou['薪资']:
    if int(item.split('k')[0])<5:
        salary['5k以下']+=1
    elif 5<=int(item.split('k')[0])<=15:
        salary['5k-15k']+=1
    elif 15<=int(item.split('k')[0])<=25:
        salary['15k-25k']+=1
    elif 25<=int(item.split('k')[0])<=35:
        salary['25k-35k']+=1
    else:
        salary['35k以上']+=1
print(salary)

{'5k以下': 22, '5k-15k': 137, '15k-25k': 21, '25k-35k': 4, '35k以上': 0}

In [28]:
# ['10k以下','10k-20k','20k-30k','30k-40k','40k以上']
# '18k-25k'.split('k')

In [92]:

import seaborn as sns
salary_name=list(salary.keys())
print(salary_name)
salary_num=list(salary.values())
print(salary_num)
salary_bar=Bar('学历要求',title_pos='40%')
salary_bar.add('',salary_name,salary_num,yaxis_name='公司数量',yaxis_name_gap='40',xaxis_rotate=30,is_label_show=True)
salary_bar.render()

['5k以下', '5k-15k', '15k-25k', '25k-35k', '35k以上']
[22, 137, 21, 4, 0]

In [131]:
#福利词云
import re
from pyecharts import WordCloud
str2=' '.join(str(i) for i in df_lagou['福利'])
words=re.split('\W',str2)
wordCount_dict=Counter(words)
# wordCount_dict
wordCount_name=list(wordCount_dict.keys())
wordCount_num=list(wordCount_dict.values())
wordcloud=WordCloud(width=800,height=500)
wordcloud.add('',wordCount_name,wordCount_num,word_size_range=[20,100])
wordcloud.render()

In [7]:
#技能词云
import re
from pyecharts import WordCloud
str2=' '.join(str(i) for i in df_lagou['技能要求'])
words=re.split('\W',str2)
wordCount_dict=Counter(words)
# wordCount_dict
wordCount_name=list(wordCount_dict.keys())
wordCount_num=list(wordCount_dict.values())
wordcloud=WordCloud(width=800,height=500)
wordcloud.add('',wordCount_name,wordCount_num,word_size_range=[20,100])
wordcloud.render()

In [3]:
#行业分布混合图
import re
lagou=[]
for item in df_lagou['行业'].tolist():
    lagou.append(re.split('\W',item)[0])

industry=Counter(lagou)
industry_name=list(industry.keys())
# print(industry_name)
industry_num=list(industry.values())
bar_industry=Bar('行业分布',title_pos='40%')
line_industry=Line()
line_industry.add('',industry_name,industry_num,yaxis_name='职位数量',xaxis_rotate=90,is_label_show=True,interval=0)
bar_industry.add('',industry_name,industry_num,yaxis_name='职位数量',xaxis_rotate=90,is_label_show=True,interval=0)

overlap=Overlap()
overlap.add(bar_industry)
overlap.add(line_industry)
overlap.show_config()
overlap.render()

NameError: name 'df_lagou' is not defined